{{!< default}}
<div class="container">
	<!--<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>kumaran@snp3.com</strong> and the password <strong>admin</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p>
	</div>-->
	<div class=row>
		<div class = col-md-1>
		</div>
		<div class = col-md-10>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="/images/carousel/image1.jpg" alt="SNP 3">
	      <div class="carousel-caption">
	        <h4>Suryanagar Proposed Houses</h4>
	        <p></p>
	      </div>
	    </div>

	    <div class="item">
	      <img src="/images/carousel/image2.jpg" alt="Chicago">
	      <div class="carousel-caption">
	        <h4>Suryanagar</h4>
	        <p>Layout - The Bigger Picture</p>
	      </div>
	    </div>

	    <div class="item">
	      <img src="/images/carousel/image3.jpg" alt="New York">
	      <div class="carousel-caption">
	        <h4>Suryanagar</h4>
	       </div>
	    </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>
</div>
</div>
	<div>

		<P>Suryanagar Phase-3, popularly known as SNP3, is under development by Karnataka Housing Board since 2012.
			 The township is spread over 976 acres of land at Bangalore covering land parcels from Jigala, Adigonhanahalli, Giddenahalli and Yadavanahalli villages.
			 The township is located 2 Kms North-West of Attibele Junction and comprises of 11035 residential sites, 660 houses, civic amenities,
			 transportation hubs, gardens, parks, open public spaces, lakes & water bodies. The township comes under
			 the jurisdiction of Anekal Planning Authority. The properties are formed on land parcels of Aadigondanahalli, Giddenahalli and Yadavanahalli are
			 governed by Neraluru Gram Panchayat while those carved out of Jigala village are governed by Bidaraguppe Gram Panchayat.
		 </P>
		 <P>
		 SNP3 township is envisaged to be developed in complete compliance with the provisions of the Karnataka Town and Country
		 Planning Act, 1961, the Karnataka Town and Country Planning Rules, 2017, Zoning Regulations and other statutory provisions.
		  The township is divided into nine blocks with varying number of properties in each. The project has been duly registered
			under RERA vide registration number PR/KN/170901/001955. Some of the project related documents are available at the
			documents section of RERA website.
		</p>
		<p>
			While the scheme of the township is in keeping with the best town planning practices, the development of the layout has
			been excruciatingly slow in speed and fails in statutory compliance. It has therefore become imperative for the property
			owners to collectively seek remedial measures and move the concerned agencies to speed up the development work so
		  as to ensure compliance with technical specifications.
		</P>

</div>
</div>
